/*-- CSS --*/
body {
  background-color: #9B92A7;
  font-family: "Amatic SC", cursive;
}

h1 {
	  font-size: 40px;
	  color: navy;
	  margin-left: 50px;
}

h2 {
	font-size: 20px;
	color: slateblue;
	margin-left: 50px;
}

p {
	font-size: 14px;
	color: white;
	margin-left: 100px;
}

/*-- orderForm table --*/
table#t01 {
	font-size: 18px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

